@use "../styles/icons" as *;
@use "../styles/colors" as *;

.model-viewer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.mv-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 16/9;
}

.hotspot {
  width: 25px;
  height: 25px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: $color-primary;
  outline: 1px solid $color-primary;
  cursor: pointer;
  z-index: 1;
  color: $color-background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotspot-label {
  position: absolute;
  left: 30px;
  background-color: $color-background;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 12px;
  color: $color-text;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  cursor: pointer;
}

.tool-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.button {
  background: $color-primary;
  background-image: linear-gradient(
    $color-primary,
    50%,
    transparent 50%,
    transparent
  );
  border-color: $color-primary;
  text-transform: uppercase;
  border-radius: 0.25em;
  border: 1px solid $color-disabled;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  width: auto;
  margin: 10px 0 0 0;
  padding: 5px 20px;
  box-sizing: border-box;
  color: $color-background;
  cursor: pointer;
  font-weight: 600;

  &:disabled {
    background: $color-disabled;
    background-image: linear-gradient(
      $color-disabled 50%,
      transparent 50%,
      transparent
    );
    border-color: $color-disabled;
    color: $color-background;
    cursor: not-allowed;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: $color-hint-message-background;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid $color-text;
  width: 80%;
}

.close {
  color: $color-hint-message-background;
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover,
  &:focus {
    color: $color-hint-message-background;
    text-decoration: none;
    cursor: pointer;
  }
}

.h5p_text:before,
.h5p_advancedtext:before {
  content: "T";
  font-family: "H5PFontAwesome4";
}

.h5p_image:before {
  content: $image;
  font-family: "H5PFontAwesome4";
}

.h5p_audio:before {
  content: $audio;
  font-family: "H5PFontAwesome4";
}

.h5p_video:before {
  content: $video;
  font-family: "H5PFontAwesome4";
}

.h5p_questionnaire:before {
  content: $questionnaire;
  font-family: "H5PFontAwesome4";
  margin-top: 2px;
}

.h5p_question_set:before {
  content: $question_set;
  font-family: "H5PFontAwesome4";
}

.h5p_file_for_download:before {
  content: $fileForDownload;
  font-family: "H5PFontAwesome4";
}

.h5p_go_to_scene:before {
  content: $goToScene;
  font-family: "H5PFontAwesome4";
}

.h5p_imageslider:before,
.h5p_singlechoiceset:before,
.h5p_summary:before {
  font-family: "H5PFontIcons";
  content: $summary;
}

.h5p_singlechoiceset:before {
  content: $singleChoiceSet;
}

.h5p_imageslider:before {
  content: $imageSlider;
}
