@use "@styles/icons" as *;
@use "@styles/colors" as *;

.model-viewer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.mv-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 16/9;
}

.h5p_text:before,
.h5p_advancedtext:before {
  content: "T";
  font-family: "H5PFontAwesome4";
}

.h5p_image:before {
  content: $image;
  font-family: "H5PFontAwesome4";
}

.h5p_audio:before {
  content: $audio;
  font-family: "H5PFontAwesome4";
}

.h5p_video:before {
  content: $video;
  font-family: "H5PFontAwesome4";
}

.h5p_questionnaire:before {
  content: $questionnaire;
  font-family: "H5PFontAwesome4";
  margin-top: 2px;
}

.h5p_question_set:before {
  content: $question_set;
  font-family: "H5PFontAwesome4";
}

.h5p_file_for_download:before {
  content: $fileForDownload;
  font-family: "H5PFontAwesome4";
}

.h5p_go_to_scene:before {
  content: $goToScene;
  font-family: "H5PFontAwesome4";
}

.h5p_imageslider:before,
.h5p_singlechoiceset:before,
.h5p_summary:before {
  font-family: "H5PFontIcons";
  content: $summary;
}

.h5p_singlechoiceset:before {
  content: $singleChoiceSet;
}

.h5p_imageslider:before {
  content: $imageSlider;
}
