// H5PFontAwesome4
$video: "\f008";
$audio: "\f028";
$image: "\f03e";
$questionnaire: "\f022";
$question_set: "\f128";
$fileForDownload: "\f019";

// 360-image
$goToScene: "\e907";
$scene: "\e915";

// H5PFontIcons
$summary: "\e992";
$singleChoiceSet: "\e993";
$imageSlider: "\e921";

$close: "\2715";
